<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>PIZZE</h1>
	Logged user: <span sec:authentication="name">Bob</span>
	<br>
	<a
		href="/pizza/admin/create"
		sec:authorize="hasAuthority('ADMIN')"
	>
		CREATE NEW PIZZA
	</a>
	<br>
	<a
		href="/pizza/user/search"
		sec:authorize="isAuthenticated()"
	>
		SEARCH FOR PIZZA
	</a>
	<h2
		th:if="${pizzas.size() < 1}"
	>NON CI SONO PIZZE PRESENTI AL MOMENTO</h2>
	<ul
		th:unless="${pizzas.size() < 1}"
	>
		<li
			th:each="pizza : ${pizzas}"
			th:object="${pizza}"
		>
			([[*{id}]]) [[*{name}]] - [[*{price}]]<br>
			[[*{description}]]<br th:if="*{description}">
			[[*{promozione}]]<br th:if="*{promozione}">
			<div
				th:if="*{ingredienti}"
			>
				<ul>
					<li
						th:each="ingrediente : *{ingredienti}"
						th:object="${ingrediente}"
					>
						[[*{name}]]
					</li>
				</ul>
			</div>
			<div
				sec:authorize="hasAuthority('ADMIN')"
			>
				<a
					th:href="@{/pizza/admin/update/{id} (id=*{id})}"
				>
					UPDATE
				</a> - 
				<a
					th:href="@{/pizza/admin/delete/{id} (id=*{id})}"
				>
					DELETE
				</a>
			</div>
		</li>
	</ul>
</body>
</html>